.imperio {
    background-color: red;}
#Darthvader {
    font-size: 40px;}
#soldados {
    border-style: dashed; letter-spacing: 1cm; font-size: 20px;}
.elcaminante {
    text-transform: uppercase; }
.tiefighter {text-transform: uppercase;}

.rebeldes {
    background-color: blue;}
#lukeskywalker {
    font-style: italic; font}
#unidadesapoyo {
    text-align: center;}
.eltanque {
    text-transform: uppercase;}
.xwing1 {
    text-transform: uppercase;}